*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 7vh;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
background-color: red;
background-image: linear-gradient(to bottom right, red, yellow);
}

.bigboard
{
  width: 100vw;
  height: 100vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin-left: 1vw;
  margin-right: 1vw;
  float: left;
  margin-bottom:2vh;
  margin-top:2vh;
  border: solid;
  border-color: gray;
  border-radius: 5%;
  padding:1vw;
background-color: white;
}

.cell {
  width: 7vh;
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;  
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: default;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: calc(var(--mark-size)* .9);
  height: calc(var(--mark-size)* .9);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.65);
  height: calc(var(--mark-size) * 0.65);
  background-color: white;
}
.cell:not(.x):not(.circle):hover
{
	background-color:lightgray;
}
