*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 7vh;
  --mark-size: calc(var(--cell-size) * .9);
}
.dropdown {
display: inline-block;
padding: 3px;
}
.dropdown-content {
display: none;
position: absolute;
text-align: center;
}
.hamburger{
width: 20px;
height: 3px;
background-color: white;
margin: 3px 0;
}
.dropbtn{
background-color: rgba(0,0,0,0);
padding: 16px;
border: none;
cursor: pointer;
}
.dropdown:hover .dropdown-content {
display: block;
}
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
background-color: black;
color: white;
}
a:hover {
      text-decoration: none;
     color: white;
}

a:link {
    color: white;
}

a:visited {
    color: white;
}
a.button1{
background-color: lightgray;
display:inline-block;
padding-top: 1.5vh;
border:0.1vh solid #000;
box-sizing: border-box;
text-decoration:none;
font-family:"Comic Sans MS", cursive, sans-serif;
font-weight:300;
color:black;
text-align:center;
margin-right: 5vw;
margin-left: 2vw;
margin-top: 3vh;
width: 13vw;
height: 9vh;
font-size: 3vh;
margin-bottom: 5vh;
}
a.button1:hover{
color:#fff;
background-color:black;
}

header
{
	text-align:right;
	margin-bottom: 8vh;
	font-size: 2vh;
}
/*button
{
	margin-top:5vh;
	margin-right: 4vw;
	margin-left: 2vw;
	border-radius: 25%;
	background-color: lightgray;
	height: 8vh;
	width: 14vw;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 2.5vh;
}*/
#desc
{
	float: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 80vh;
	margin-left: 8vh;
	font-size: 2.8vh;
	text-align: justify;
	padding-top: 10vh;
	line-height: 2em;
}
#title
{
	margin-bottom: 12vh;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 7vh;;
	
}
.bigboard
{
  width: 80vh;
  height: 80vh;
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding: 1vh;
  float: left;
  margin-left: 7vw;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin-left: 1vw;
  margin-right: 1vw;
  float: left;
  margin-bottom:2vh;
  margin-top:2vh;
  border: solid;
  border-color: gray;
  border-radius: 5%;
  padding:1vw;
  width: 24vh;
  height: 24vh;
  background-position: center;
  background-size: 24vh;
background-color: white;
}

.cell {
  width: 7vh;
  height: var(--cell-size);
  border: 0.1vh solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: default;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;  
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: default;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: black;
}
.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: calc(var(--mark-size)* .9);
  height: calc(var(--mark-size)* .9);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.65);
  height: calc(var(--mark-size) * 0.65);
  background-color: white;
  
.cell:not(.x):not(.circle):hover 
{
	background-color:lightgray;
}
/*
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}
*/


