*, *::after, *::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 7vh;
  --mark-size: calc(var(--cell-size) * .9);
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
}
a:hover {
      text-decoration: none;
     color: #000;
}

a:link {
    color: #000;
}

a:visited {
    color: #000;
}
header
{
	text-align:right;
	margin-bottom: 8vh;
	font-size: 2vh;
}
@media screen and (device-aspect-ratio: 4/3)
{
	:root {
  --cell-size: 6vh;
  --mark-size: calc(var(--cell-size) * .9);
}
	.cell{
		max-width: var(--cell-size);
		max-height: var(--cell-size);
	}
	.board
	{
		max-height:22.5vh;
		max-width:22.5vh;
	}
	.bigboard
	{
		max-width: 70vh;
		margin-top:0px;
		margin-right: 2vw;
	}
	#desc
	{
		max-width: 55vh;
		margin-left: 4vw;
		margin-left: 1vw;
		
	}
	h1
	{
		font-size:6.2vh;
	}
	h2
	{
		font-size:2.59vh;
		line-height: 5vh;
	}
}
#desc
{
	float: left;
	font-family: "Comic Sans MS", cursive, sans-serif;
	height: 80vh;
	margin-left: 8vh;
	font-size: 2.8vh;
	text-align: justify;
	padding-top: 10vh;
	line-height: 2em;
}
#title
{
	margin-bottom: 12vh;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-size: 7vh;;
	
}
.bigboard
{
  display: grid;
  margin-top: auto;
  margin-bottom: auto;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding: 1vh;
  float: left;
  margin-left: 7vw;
  margin-top: 5vh;
}
.bigboard1
{
  display: grid;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  padding: 1vh;
  float: left;
  margin-left: 7vw;
  margin-top: 0;
}
.board {
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto);
  margin-left: 1vw;
  margin-right: 1vw;
  margin-bottom: 2vh;
  margin-top: 2vh;
  border: 0.4vh solid;
  border-color: white;
  border-radius: 2.5vh;
  padding:1vw;
  width: 24vh;
  height: 24vh;
  background-position: center;
  background-size: 24vh;
}

.cell {
  width: 7vh;
  height: var(--cell-size);
  border: 0.2vh solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-left: none;  
}

.cell:nth-child(3n + 3) {
  border-right: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: default;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: white;;
}
.cell.x::before,
.cell.x::after {
  content: '';
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after
 {
  content: '';
  position: absolute;
  border-radius: 50%;
}

.cell.circle::before{
  width: calc(var(--mark-size)* .9);
  height: calc(var(--mark-size)* .9);
}

.cell.circle::after
{
  width: calc(var(--mark-size) * 0.65);
  height: calc(var(--mark-size) * 0.65);
  background-color: black;
}
.cell:not(.x):not(.circle):hover
{
	background-color: lightgray;
}

.board.big
{
	background-color: inherit;
	cursor: default;
}

.board.big:hover
{
	background-color: inherit;
	cursor: default;
}

#game
{
	margin-top: 27vh;
	float: left;
	height: 40vh;
	width: 40vh;
	margin-left: 20vh;
	padding: 5vh;
	line-height: 6vh;
	color: white;
	font-family: "Comic Sans MS", cursive, sans-serif;
	font-weight: 600;
	font-size: 3vh;
}

#info
{
	width: 20vw;
	height: 7vh;
	margin-top: auto;
	margin-bottom: auto;
	font-size: 1em;
}
